<p id="notice"><%= notice %></p>

<h2>Listing Paintings</h2>

<table cellpadding="10">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Price</th>
      <th>Medium</th>
      <th>Desc</th>
      <th>Sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paintings.each do |painting| %>
      <tr>
        <td><%= painting.name %></td>
        <td><%= cl_image_tag(painting.url, :width=>200, :crop=>:thumb) %></td>
        <td><%= painting.price %></td>
        <td><%= painting.medium %></td>
        <td><%= painting.desc %></td>
        <td><%= painting.sold %></td>
        <td><%= link_to 'Show', painting %></td>
        <!-- <td><%#= link_to 'Edit', edit_painting_path(painting) %></td> -->
        <!-- <td><%#= link_to 'Destroy', painting, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Painting', new_painting_path %>
