<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @painting.name %>
</p>

<p>
  <strong>Image:</strong><br>
  <%= cl_image_tag( @painting.url, :width=>200, :crop=>:thumb ) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @painting.price %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @painting.medium %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @painting.desc %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @painting.sold %>
</p>

<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
